body {
  margin: 0;
  background-color: #f7f7f9;
  font-family: Poppins, sans-serif;
}

.navbar {
  height: 80px;
  background: white;
  padding: 1rem 0;
}

.navbar-light .navbar-brand {
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: #6070ff;
}

.navbar-light .navbar-brand:hover {
  color: #0b20dc;
  transform: scale(1.3);
}

.navbar-light .nav-item .nav-link {
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #344563;
}

.nav-item .nav-link:hover {
  transform: scale(1.4);
}

.portfolio-background h1 {
  font-weight: 700;
  font-size: 48px;
  line-height: 60px;
  letter-spacing: 0.37px;
  color: #091e42;
}

.portfolio-background p {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #344563;
}

.portfolio-background h2 {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
}

.portfolio-background {
  background-image: url("Assets/Desktop-BG-Image.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #fff;
  height: calc(100vh - 80px);
  border-bottom-left-radius: 100px;
}

.list-inline-item :hover {
  transform: scale(1.3);
}
